<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head th:include="fragments/header_fragment_base.html :: header">
</head>

<body class="bg-gradient-primary">
<!-- Outer Row -->
<div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <div class="container">
                    <div th:with="httpStatus=${T(org.springframework.http.HttpStatus).valueOf(#response.status)}">
                        <h1 th:text="|${httpStatus} - ${httpStatus.reasonPhrase}|">404</h1>
                        <p th:utext="${errorMessage}">Error java.lang.NullPointerException</p>
                        <a href="index.html" th:href="@{/}">Back to Home Page</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<footer class="sticky-footer bg-white" th:insert="fragments/footer_fragment_base.html :: footer"></footer>
</body>

</html>