# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\gulya\OneDrive\Dokumentumok\Elte-5fv-Web-fejlesztes-4.-Java-alapon-EA-GY\4_oraSocketApp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
